MEMORY {
	HEADER:		start = $0000, size = $0010, file = %O, fill = yes;
	PRG:      start = $8000, size = $7ffa, type = ro, fill = yes;
	ROMINFO:	start = $fffa, size = $0006, type = ro, file = %O, define = yes;
	ROMCHR:		start = $0000, size = $2000, type = rw, define = yes;
	#ROMCHR2:	start = $0000, size = $2000, type = rw, define = yes;
	ZP:		    start = $0000, size = $0020, type = rw, define = yes;

	RAM:		  start = $0400, size = $0300, type = rw, define = yes;
	DMAAREA:	start = $0700, size = $0100, type = rw, define = yes;
	STACK:		start = $0200, size = $0200, type = rw, define = yes;
	SRAM:		  start = $6000, size = $2000, type = rw, define = yes;
}

SEGMENTS {
	ZEROPAGE:	 load = ZP,      type = zp;
	BSS:		   load = RAM,     type = bss,	define = yes;
	HEADER:		 load = HEADER,  type = ro;
	MUSICDATA: load = PRG,     type = ro,   start = $%%__LOAD_ADDR__%%;
	STARTUP:	 load = PRG,     type = ro,   start = $E000, define = yes;
	CODE:		   load = PRG,     type = ro,   optional = yes;
	RODATA:		 load = PRG,		type = ro,	define = yes;
	VECINFO:	 load = ROMINFO, type = ro,   start = $FFFA;
	CHARS:	 	load = ROMCHR,		type = ro;
	#CHARS2:	 	load = ROMCHR2,		type = ro;
}

FEATURES {
	CONDES: segment = RODATA,
		type = constructor,
		label = __CONSTRUCTOR_TABLE__,
		count = __CONSTRUCTOR_COUNT__;
	CONDES: segment = RODATA,
		type = destructor,
		label = __DESTRUCTOR_TABLE__,
		count = __DESTRUCTOR_COUNT__;
}

