.setcpu		"6502"
.autoimport	on
.IMPORTZP	sp

.global	_NesMain

.segment "HEADER"
	.byte	$4E, $45, $53, $1A	; "NES" Header
	.byte	$02			; PRG-BANKS
	.byte	$01			; CHR-BANKS
	.byte	$30			; 0:Horizontal/1:Vertical/3:Vertical & WRAM Mirror
	.byte	$00			; 
	.byte	$00, $00, $00, $00	; 
	.byte	$00, $00, $00, $00	; 

.segment "MUSICDATA"
	.incbin	"%%__NSF_FILE__%%"

.segment "STARTUP"

.proc	Reset
   cld             ; clear decimal flag 
   sei             ; disable interrupts 
   lda #%00000000  ; disable vblank interrupts by clearing 
   sta $2000       ; the most significant bit of $2000 
   ; Second issue was here: proper memory initialization 
   sta $2001       ; 
   ; Now clear the ram 
   ldx #0 
clrmem: 
   sta $000,x ; Zero page 
   sta $100,x ; stack 
   ;sta $200,x ; Ram 
   sta $300,x 
   sta $400,x 
   sta $500,x 
   sta $600,x 
   ;sta $700,x ; Remove this if you're storing reset-persistent data 
   inx 
   bne clrmem 
   ldx #$FF       ; set stack 
   txs    
WaitV1:    
   lda $2002       ; give the PPU a little time to initialize 
   bpl WaitV1      ; by waiting for a vblank 
WaitV2:    
   lda $2002       ; wait for a second vblank to be safe 
   bpl WaitV2      ; and now the PPU should be initialized 
    
   lda #%00001111  ; enable all sound channels except 
   sta $4015       ; the delta modulation channel 

   jsr _NesReset
   ;lda #$00        ; replace dashes with song number 
   ;adc #$1
   lda $200        ; replace dashes with song number 
   ;adc #$1
   ;sta $200        ; replace dashes with song number 
   ldx #$00        ; replace with $00 for NTSC or $01 for PAL 
   jsr $%%__INIT_ADDR__%%;

   ;lda #%10000000  ; enable vblank interrupts by setting the 
   sta $2000       ; most significant bit of $2000 

	 ; stack setting
	 lda	#$ff
	 sta	sp
	 lda	#$03
	 sta	sp + 1
	 jsr	_NesMain
	
.endproc
.proc	NMI
  jsr $%%__PLAY_ADDR__%%; replace dashes with play address 
	jsr _NMIProc
  rti             ; return from interrupt routine 
.endproc

.segment "VECINFO"
	.word	NMI
	.word	Reset
	.word	$0000

.segment "CHARS"
	.incbin	"character_moji.chr"
	
;.segment "CHARS2"
;.incbin	"character.chr"
